<div class="card ">
  <p-toolbar [style]="{ 'border-radius': '2rem', 'padding': '0rem', 'border':'none'  }">
    <ng-template #start>
      <h3 class="ml-6">Pan Casero</h3>
    </ng-template>

    <ng-template #end>
      <div class="flex justify-content-evenly gap-5">
        <p-button label="Dashboard" text plain (click)="irA('dashboard')"/>
        <p-button label="Inventario" text plain (click)="irA('inventario')" />
        <p-button label="Productos" text plain (click)="irA('productos')" />
        <p-button label="Empleados" text plain (click)="irA('empleados')"/>
        <p-button label="Ventas" text plain (click)="irA('ventas')"/>
        <p-button label="Cerrar Sesion" text plain (click)="cerrarSesion()" />
      </div>
    </ng-template>
  </p-toolbar>
</div>
<hr style="width:100%;text-align:left;margin-left:0;color: burlywood;">
