<div class="component">
  <app-header />

  <div class="flex justify-content-center flex-wrap mt-7">
    <div class="card w-10">
      <div
        class="flex justify-content-between flex-wrap align-items-center mb-5"
      >
        <h1>Gestiòn de Inventario</h1>

        <p-button
          label="Nuevo producto"
          severity="success"
          (click)="abrirModal()"
        />
      </div>
      <div class="flex align-items-center mb-4">
        <!--
        <div class="absolute">
          <span
            class="pi pi-search relative"
            style="left: 15px; top: 3px"
          ></span>
        </div>
-->
        <input
          type="text"
          pInputText
          [(ngModel)]="value"
          placeholder="Buscar"
          class="pl-6 flex-1"
        />
      </div>
      <p-table
        [value]="listinventary"
        stripedRows
        [tableStyle]="{'min-width': '50rem'}"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-producto>
          <tr>
            <td>{{ producto.name }}</td>
            <td>{{ producto.quantity }}</td>
          <td><div class="button-div "><button class="button-editar" (click)="abrirModalModificar(producto)">Editar</button></div></td>
          </tr>
        </ng-template>
      </p-table>

      <p-dialog
        header="Nuevo Producto"
        [(visible)]="visible"
        [style]="{ width: '50rem' }"
      >
        <span class="p-text-secondary block mb-5"
          >Crea un nuevo producto rellenando todos los espacios</span
        >
        <form [formGroup]="formProductos">
          <div class="flex items-center gap-4 mb-4 text-center">
            <label for="username" class="font-semibold w-24 mr-5">Nombre</label>
            <input
              pInputText
              id="username"
              class="flex-auto"
              autocomplete="off"
              formControlName="name"
            />
          </div>
          <div class="flex items-center gap-4 mb-4">
            <label for="cantidad" class="font-semibold w-24 mr-4"
              >Cantidad</label
            >
            <p-inputnumber
              type="number"
              id="cantidad"
              class="flex-auto"
              autocomplete="off"
              formControlName="quantity"
            />
          </div>
          <p-toast />
          <div class="flex justify-content-end gap-2 mt-4">
            <p-button
              label="Cancel"
              severity="secondary"
              (click)="visible = false"
            />
            <p-button label="Save" (click)="salvarProducto()" />
          </div>
        </form>
      </p-dialog>
    </div>
  </div>
</div>
