.component {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

.button-div {
  display: flex;
  justify-content: center;
  align-items: center;

  .button-editar {
    color: white;
    background-color: #eb5757;
    padding: 5px 20px;
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 100ms;
    margin-top: 10px;

    &:hover {
      background-color: #ef8687;
    }
  }
}