<div class="component">
  <app-header />
  <div class="centro">
    <div class="sub-component">
      <div class="header">
        <div>
          <strong>ORDENAR POR</strong>
          <select>
            <option>Alfabéticamente, A-Z</option>
            <option>Alfabéticamente, Z-A</option>
            <option>Precio, menor a mayor</option>
            <option>Precio, mayor a menor</option>
          </select>
        </div>
        <em>{{cantidadArticulos}} artículos</em>
      </div>
      <div class="main">
        <!--
        <app-card prod="Cookies" img="/cookies.jpg" [sty]="wandh" />
        <app-card prod="Tortas" img="/Torta.jpg" [sty]="wandh" />
        <app-card prod="Tortas" img="/Torta.jpg" [sty]="wandh" />
        <app-card prod="Panes" img="/Panes.jpg" [sty]="wandh" />
        <app-card prod="Panes" img="/Panes.jpg" [sty]="wandh" />
        <app-card prod="Croissants" img="/Croissants.jpg" [sty]="wandh" />
        <app-card prod="Croissants" img="/Croissants.jpg" [sty]="wandh" />
        <app-card prod="Cookies" img="/cookies.jpg" [sty]="wandh" />
        <app-card prod="Tortas" img="/Torta.jpg" [sty]="wandh" />
        <app-card prod="Cookies" img="/cookies.jpg" [sty]="wandh" />
        <app-card prod="Cookies" img="/cookies.jpg" [sty]="wandh" />
        <app-card prod="Panes" img="/Panes.jpg" [sty]="wandh" />
          -->
        @for (prod of listProducts; track prod.id) {
        <app-cardmodal
          [prod]=prod
          [img]="prod.image"
          [sty]="wandh"
        />
        }
      </div>
    </div>
  </div>
  <app-footer />
</div>
