<div class="component">
  <app-header />
  <div class="wrap">
    <div></div>
    <div class="wrap-text">
      <h1>Celebramos</h1>
      <p>El buen comer desde 1985</p>
    </div>
  </div>
  <div class="high-center">
    <h2>Creamos la receta perfecta para nutrir el mundo</h2>
    <img src="celebremos_el_buen_comer_2.jpg" />
  </div>
  <div class="center-high">
    <h2>Nuestras Delicias</h2>
    <p>Productos frescos que nuestra panaderìa entregan dìa a dìa</p>
  </div>
  <div class="center">
    <div class="center-center">
      <div class="center-left">
        <app-card />
        <app-card />
      </div>
      <div class="center-right">
        <app-card />
        <app-card />
      </div>
    </div>
  </div>
</div>
